{% extends 'base.html' %}
 {% import 'macros.html' as macro%}

{%block styles%}
  {{ super() }}
{%endblock%}

<!-- content block -->
{% block content %}
<div class="tuko">
<div class="container" style="margin-top:12%;">
  <div class="col-md-6">
    <div class="well">
      <h3 style="font-weight:bold;">{{pitches.actual_pitch}}</h3>
    </div>
  </div>
  <div class="col-md-6" style="font-weight:bold; color:crimson">
      <h4 style="font-weight:bold; color:crimson">Comments:</h4>
      {% if comment %}
      {{ macro.displaySpecificPitch(comment)}}
      <hr>
      {%else%}
      <h3 class="text-center" style="font-weight:bold; color: crimson;">No comments </h3>
      {% endif %}
      <p class="text-right"><a class="btn btn-primary" href="/pitch/new/{{pitches.id}}">Add a comment</a></p>
  </div>
</div>
</div>
<style>
.tuko{
  background-image: url('https://images.pexels.com/photos/165754/pexels-photo-165754.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-repeat: no-repeat;
  width: 100%;
  overflow-x: hidden; 
  height: 550px; 
  background-size: 100% 100%;
}

</style>


{% endblock %}
